.my-banner {
  width: 100%;
  font-size: 200%;
  text-align: center;
  color: white;
  background-color: navy;
}

li {
  padding-right: 10px;
}

input {
  display: block;
  margin: 8px 0;
  padding: 8px 2px;
  border-width: 0 0 2px 0;
  width: 100%;
}

textarea {
  width: 95%;
  min-height: 150px;
}

.modal-menus-pre-auth {
  display: block;
}

.modal-menus-post-auth {
  display: none;
}

.form-create-thread-error {
  color: red;
}

.form-edit-thread-error {
  color: red;
}

.create-account-error {
  color: red;
}

.thread-view-form {
  padding-top: 0rem;
}

.form-edit-thread {
  padding-top: 1rem;
}

.form-delete-thread {
  padding-top: 1rem;
}

.form-edit-reply {
  padding-left: 0.2rem;
  padding-bottom: 0.2rem;
}

.form-delete-reply {
  padding-left: 0.5rem;
  padding-bottom: 0.2rem;
}
